/* Estilos del botón en el formulario de donación */
.donacion-form button {
  padding: 10px 20px;
  background-color: #785d41;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center; 
  justify-content: center; 
}


.donacion-form button:hover {
  background-color: #433e3e;
}

/* Estilo de botones con la clase 'h-button' */
.h-button {
  position: relative;
  background: white;
  padding: 20px;
  width: 250px;
  text-align: center;
  overflow: hidden;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: 'Arial', sans-serif;
}

/* Animación del texto del botón */
.h-button span {
  display: inline-block;
  min-width: 0.3em;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}

.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  text-align: center; 
}

/* Efecto al pasar el mouse sobre el botón */
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px); 
}

/* Efecto al pasar el mouse sobre el span */
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}

/* Retrasos en la animación de cada letra del span */
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.15s;
}
.h-button:hover span:nth-child(7), .h-button:focus span:nth-child(6) {
  transition-delay: 0.175s;
}
